**/.catkin_tools
**/.vscode
**/build
**/devel
**/__pycache__

**/raw_recordings
**/haptic_comparison
**/exports
dexterous_hands/logs

dexterous_hands/scripts/hand_track/_DATA

models/

containers/run
**/notes.txt

SOEM-1.4.0.zip
.catkin_workspace

*.pdf